html {
  position: relative;
  min-height: 100%;
}
body {
  /*padding-top: 60px;*/
  margin-bottom: 220px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/*code {
  font-size: 80%;
}*/

.cscs-nav-logo {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 70px;
}

#cscs-cscs-logo {
  width: auto;
  height: 63px;  
}

#cscs-eth-logo {
  width: auto;
  height: 26.0333px;
}

.navbar {
  margin-bottom: 0px;
}