html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 60px;
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
/*code {
  font-size: 80%;
}*/
h2 {
  font-size: 26px;
}

/*a {
  color: #cf0018;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #83000f;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}*/

/* navbar */
.navbar-default .cscs-nav-logo {
    /*color: #777;*/
    background-color: #fff;
}

.navbar-default .cscs-nav-logo > img {
    /*color: #777;*/
    max-height: 50px;
    padding: 100px
    max-width: 33%;
}


.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #106BA1;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    /*color: #777;*/
    color: #fff;
    background-color: #106BA1;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    /*color: #333;*/
    color: #bbb;
}

.navbar-default .navbar-nav > li.dropdown.active.open > a, 
.navbar-default .navbar-nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.navbar-default .navbar-nav > li.dropdown.open > a, 
.navbar-default .navbar-nav > li.dropdown.open > ul.dropdown-menu a:hover { 
    color: #fff;
    background-color: #E5293A; 
}

.navbar-default {
/*    background-color: #F8F8F8;
    border-color: #E7E7E7;
*/    
/*    background-color: #E5293A;
    border-color: #D41929;
*/    background-color: #106BA1;
    border-color: #095A90;
}
/* title */
.navbar-default .navbar-brand {
    /*color: #777;*/
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    /*color: #5E5E5E;*/
    color: #fff;
    background-color: #E5293A; 
}
/* link */
.navbar-default .navbar-nav > li > a {
    /*color: #777;*/
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*color: #333;*/
    color: #fff;
    background-color: #E5293A; 
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
/*    color: #555;
    background-color: #E7E7E7;
*/    
    color: #ddd;
    background-color: #fff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
/*    color: #555;
    background-color: #D5D5D5;
*/
/*    color: #ddd;
    background-color: #fff;*/
    color: #fff;
    background-color: #E5293A;     
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
/*    border-top-color: #777;
    border-bottom-color: #777;
*/    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
/*    border-top-color: #333;
    border-bottom-color: #333;*/
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
/*    border-top-color: #555;
    border-bottom-color: #555;*/
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    /*border-color: #DDD;*/
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    /*background-color: #DDD;*/
    /*background-color: #C30818;*/
    /*background-color: #084980;*/
    background-color: #E5293A;     
}
.navbar-default .navbar-toggle .icon-bar {
    /*background-color: #CCC;*/
    background-color: #fff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        /*color: #777;*/
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        /*color: #333;*/
        color: #bbb;
    }
}