# metadata useful to EasyBuild (hpcugent.github.io/easybuild) for modules provided by Cray on Cray systems
# authors: Guilherme Peretti-Pezzi (CSCS), Petar Forai (IMP/IMBA), Kenneth Hoste (HPC-UGent), Eirini Koutsaniti (CSCS)

[cray-fftw]
name = FFTW
prefix = FFTW_DIR/..
version = 3.3.8.8

[cray-hdf5]
name = HDF5
prefix = CRAY_HDF5_PREFIX
version = 1.12.0.0

[cray-hdf5-parallel]
name = HDF5
prefix = CRAY_HDF5_PREFIX
version = 1.12.0.0

[cray-libsci]
name = LibSci
prefix = CRAY_LIBSCI_PREFIX
version = 20.09.1

[cray-netcdf]
name = netCDF, netCDF-Fortran
prefix = CRAY_NETCDF_PREFIX
version = 4.7.4.0, 4.7.4.0

[cray-netcdf-hdf5parallel]
name = netCDF, netCDF-Fortran
prefix = CRAY_NETCDF_HDF5PARALLEL_PREFIX
version = 4.7.4.0, 4.7.4.0

[cray-petsc]
name = PETSc
prefix = CRAY_PETSC_PREFIX
version = 3.13.3.0

[cray-petsc-64]
name = PETSc
prefix = CRAY_PETSC_64_PREFIX
version = 3.13.3.0

[cray-petsc-complex]
name = PETSc
prefix = CRAY_PETSC_COMPLEX_PREFIX
version = 3.13.3.0

[cray-petsc-complex-64]
name = PETSc
prefix = CRAY_PETSC_COMPLEX_64_PREFIX
version = 3.13.3.0

[cray-python]
name = Python
prefix = CRAY_PYTHON_PREFIX
version = 3.8.5.0

[cray-R]
name = R
prefix = CRAY_R_PREFIX
version = 4.0.3.0

[cray-tpsl]
name = TPSL
prefix = CRAY_TPSL_PREFIX
version = 20.03.2

[cray-tpsl-64]
name = TPSL
prefix = CRAY_TPSL_64_PREFIX
version = 20.03.2

[cudatoolkit]
name = CUDA
version = 11.0.2_3.34-7.0.2.1_4.6__g017096a
prefix = CRAY_CUDATOOLKIT_DIR

[gcc]
name = GCC
prefix = GCC_PATH

[papi]
name = PAPI
prefix = CRAY_PAPI_PREFIX
version = 6.0.0.6

[pmi]
name = pmi
prefix = CRAY_PMI_PREFIX
version = 5.0.17

[slurm/.default]
name = slurm
version = .default
prefix = SLURMDIR
